:root{
  --dark-cyan: #0E8784;
  --dark-grey-blue: #333D4B;
  --pale-orange: #FDD6BA;
  --light-cream: #FEFCF7;
  --middle-bg-color: #2C343E;
  --grey: #83888F;
  --title-alternate-big: 150px;
  --title-alternate-big-line-height: 72px;
  --title-alternate-big-text-transform: lowercase;
  --title-h1: 72px;
  --title-h1-line-height: 72px;
  --title-h2: 40px;
  --title-h2-line-height: 48px;
  --title-h3: 32px;
  --title-h3-line-height: 36px;
  --title-h4: 24px;
  --title-h4-line-height: 32px;
  --body-font-size: 16px;
  --body-line-height: 26px;
  --navigation-menu-font-size: 12px;
  --navigation-menu-line-height: 15px;
  --navigation-menu-letter-spacing: 1px;
  --button-hover: #66D2CF;
  --button-disabled: #E2DEDB;
  --option-default: #F4F1EB;
  --font-fraunces: 'Fraunces';
  --font-barlow: 'Barlow';

}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 0 80px;
  background-color: var(--light-cream);
} 

/* -------- INDEX PAGE ---------- */

/* -------- HEADER SECTION ---------- */

header{
  margin-top: 26px;
  margin-bottom: 30px;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  display: flex;
  width: 20rem;
  justify-content: space-between;
  text-align: center;
}

a{
  color: var(--grey);
  text-decoration: none;
}

li{
  list-style: none;
  letter-spacing: var(--navigation-menu-letter-spacing);
} 

/* -------- HERO SECTION ---------- */

.hero_section{
  position: relative;
}

.hero_img{
  height: 37.5em;
  background-image: url(assets/home/desktop/image-hero-coffeepress.jpg);
  background-size: cover;
}

.hero_title{
  position: absolute;
  top: 10em;
  left: 7em;
  font-family: 'Fraunces', serif;
}

.hero_title h1{
  color: var(--light-cream);
  font-size: var(--title-h1);
  width: 7em;
  margin-bottom: 10px;
}

.hero_title p{
  width: 30em;
  color: var(--light-cream);
  font-size: 12px;
  font-family: var(--font-barlow), sans-serif;
  margin-bottom: 30px;
  font-weight: 400;
  line-height: 2;
} 

.button{
  width: 13em;
  height: 3.5em;
  background-color: var(--dark-cyan);
  color: var(--light-cream);
  border-radius: 10px;
  font-family: var(--font-fraunces), serif;
  border: 1px solid var(--dark-cyan);
  display: block;
  text-align: center;
  line-height: 50px;
}

.button:hover{
  background-color: var(--button-hover)
}

/* -------- COLLECTION SECTION ---------- */

.collection_section{
  width: 60em;
  height: 32em;
  margin: 6em 13em;
  position: relative;
}

.collection_text{
  position: relative;
  height: 12em;
}

.collection_text p{
  font-size: var(--title-alternate-big);
  text-align: center;
  opacity: 0.5032;
  color: var(--grey);
  font-family: var(--font-fraunces), serif;
  position: relative;
  z-index: -1;
  background: -webkit-linear-gradient(var(--grey), white);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.collection_type{
  display: flex;
  width: 100%;
  position: absolute;
  top: 7em;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.collection_type_coffee_img{
  width: 12em;
  height: 10em;
}

.collection_type_coffee_text{
  text-align: center;
  margin-top: 60px;
}

.collection_type_coffee_text h4{
font-size: var(--title-h4);
color: var(--dark-grey-blue);
font-family: 'Fraunces', serif;
font-weight: bold;
margin-bottom: 20px;
}

.collection_type_coffee_text p{
  font-family: 'Barlow', sans-serif;
}

.pref_span{
  color: var(--dark-cyan);
}

/* -------- COFFEEROASTERS SECLECTION SECTION ---------- */

.selection_reasons{
  height: 45em;
  position: relative;
  margin-bottom: 10em;
}

.selection_reason_text{
  width: 86em;
  height: 36em;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--middle-bg-color);
  border-radius: 1em;
}

.selection_reason_text h3{
  color: var(--light-cream);
  font-size: var(--title-h3);
  font-family: 'Fraunces', serif;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.selection_reason_text p{
  width: 33em;
  text-align: center;
  color: var(--light-cream);
  font-family: var(--font-barlow), sans-serif;
  margin: 0 auto;
  line-height: 2;
  
}

.selection_qualities{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

.selection_qualities_feature{
  height: 23em;
  width: 21em;
  background-color: var(--dark-cyan);
  border-radius: 0.8em;
}

.selection_qualities_feature img {
  margin-top: 4em;
}

.selection_qualities_feature_text h3{
  color: var(--light-cream);
  font-family: var(--font-fraunces), serif;
  margin-top: 2em;
  margin-bottom: 2em;
}

.selection_qualities_feature_text p {
  width: 15em;
  color: var(--light-cream);
  font-family: var(--font-barlow), 'sans-serif';
  margin: 0 auto;
  line-height: 2;
} 

/* -------- COFFEEROASTERS OPERATION SECTION ---------- */

.coffeeroasters_operation{
  width: 65em;
  height: 35em;
  margin: auto;
}

.coffeeroasters_operation h3{
  font-family: var(--font-fraunces), serif;
  color: var(--grey);
}

.coffeeroasters_operation_division{
  margin-top: 3em;
  display: flex;
  align-items: center;
  margin-bottom: 4em;
}

.coffeeroasters_operation_oval{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 1px solid var(--dark-cyan);
}

.coffeeroasters_operation_line{
  width: 21.7em;
  height: 0.08em;
  background-color: var(--pale-orange);
}

.coffeeroasters_operation_process{
  display: flex;
  margin-bottom: 3em;
}

.coffeeroasters_operation_process_type{
  margin-right: 2.5em;
}

.coffeeroasters_operation_process_type h2{
  font-family: var(--font-fraunces), serif;
  font-size: var(--title-h2);
  color: var(--pale-orange);
  margin-bottom: 1em;

}

.coffeeroasters_operation_process_type h3{
  font-family: var(--font-fraunces), serif;
  width: 7em;
  font-size: var(--title-h3);
  margin-bottom: 1em;
  color: var(--dark-grey-blue);
}

.coffeeroasters_operation_process_type p{
  font-family: var(--font-barlow), 'sans-serif';
  line-height: 1.5;
  width: 20em;
  color: var(--dark-grey-blue);
} 


/* -------- FOOTER SECTION ---------- */
footer{
  height: 13em;
  margin-top: 5em;
}

.footer_section{
  display: flex;
  height: 7em;
  align-items: center;
  justify-content: space-around;
  background-color: var(--dark-grey-blue);
}

.footer_page_links a img{
  fill: var(--light-cream);
}

.footer_page_links ul{
  width: 25em;
}

.footer_page_links ul li{
  margin-right: 0.5em;
  font-size: 1em;
}

.footer_page_links{
  display: flex;
  align-items: center;
}

.footer_pages{
  margin-left: 4em;
}

.footer_social_links{
  display: flex;
  align-items: center;
  width: 8em;
  justify-content: space-around;
}

.footer_social:hover{
  filter: invert(0.25) sepia(0.8);
}

.footer_li:hover{
  color: var(--light-cream);
} 

/* -------- END OF INDEX PAGE ---------- */

/* -------- ABOUT PAGE ----------- */
/* -------- HERO SECTION ----------- */

.other_hero_section{
  position: relative;
  height: 28em;
  margin-bottom: 5em;
  
}

.about_hero_img{
  height: 30.5em;
  background-image: url(assets/about/desktop/image-hero-whitecup.jpg);
  background-size: cover;
}

.hero_title h2{
  color: var(--light-cream);
  font-size: var(--title-h2);
  width: 7em;
  margin-bottom: 10px;
} 


/* -------- COMMITMENT SECTION ----------- */

.coffeeroasters_commitment_img{
  background-image: url(assets/about/desktop/image-commitment.jpg);
  background-size: cover;
  height: 35em;
  width: 30em;
}

.coffeeroasters_commitment{
  width: 69em;
  height: 32.5em;
  margin: 10em auto;
  display: flex;
  justify-content: space-between;
}

.coffeeroasters_commitment_text {
  padding-top: 5em;
}

.coffeeroasters_commitment_text h2{
  font-family: var(--font-fraunces);
  font-size: var(--title-h2);
  margin-bottom: 1.5em;
}

.coffeeroasters_commitment_text p{
  line-height: 1.5;
  width: 32em;
  font-family: var(--font-barlow);
  color: var(--dark-grey-blue);
} 


/* -------- QUALITY SECTION ----------- */

.coffeeroasters_quality {
  height: 35em;
  width: 80em;
  margin: 0 auto 6em auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.coffeeroasters_quality_text{
  position: absolute;
  width: 100%;
  height: 29em;
  bottom: 0;
  background-color: var(--middle-bg-color);
  z-index: -1;
  padding: 4em;
}

.coffeeroasters_quality_img{
  background-image: url(assets/about/desktop/image-quality.jpg);
  background-size: cover;
  height: 20em;
  width: 30em;
  position: absolute;
  right: 8em;
}

.coffeeroasters_quality_img img {
  border-radius: 0.5em;
}

.coffeeroasters_quality_text h2{
  font-size: var(--title-h2);
  font-family: var(--font-fraunces), serif;
  line-height: 1.5;
  color: var(--light-cream);
  margin-bottom: 0.5em;
}

.coffeeroasters_quality_text p{
  width: 30em;
  color: var(--light-cream);
  line-height: 1.5;
  font-family: var(--font-barlow), 'sans-serif';
} 

/* -------- LOCATION SECTION ----------- */


.coffeeroasters_operation_process_type h4{
  font-size: var(--title-h4);
}

.about_coffeeroasters_operation{
  height: 22em;
  margin-bottom: 8em;
}

.about_coffeeroasters_operation h3{
  margin-bottom: 2em;
}

.location h4{
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: var(--font-fraunces), serif;
}


/* -------- END OF ABOUT PAGE ---------- */


/* -------- START OF PLAN PAGE ---------- */

.plan_section{
  margin-bottom: 8em;
}

.plan_hero_img{
  height: 30.5em;
  background-image: url(assets/plan/desktop/image-hero-blackcup.jpg);
  background-size: cover;
}

.plan_coffeeroasters_operation{
  padding: 8em;
  width: 85em;
  background-color: var(--middle-bg-color);
  margin-bottom: 6em;
}


.plan_coffeeroasters_operation_oval{
  height: 1em;
  width: 1em;
  border-radius: 50%;
  border: 1px solid var(--dark-cyan);
}

.plan_coffeeroasters_operation_line{
  width: 24em;
  height: 0.08em;
  background-color: var(--pale-orange);
}

.plan_coffeeroasters_operation_process{
  display: flex;
}

.plan_coffeeroasters_operation_process_type{
  margin-right: 4.5em;
}

.plan_coffeeroasters_operation_process_type h2{
  font-family: var(--font-fraunces), serif;
  font-size: var(--title-h2);
  color: var(--pale-orange);
  margin-bottom: 1em;

}

.plan_coffeeroasters_operation_process_type h3{
  font-family: var(--font-fraunces), serif;
  width: 7em;
  font-size: var(--title-h3);
  margin-bottom: 1em;
  color: var(--light-cream);
}

.plan_coffeeroasters_operation_process_type p{
  font-family: var(--font-barlow), 'sans-serif';
  line-height: 1.5;
  width: 20em;
  color: var(--light-cream);
}

.plan_division{
  position: relative;
}


.plan_coffeeroasters_operation_semiline{
  position: absolute;
  bottom: 7.5px;
  width: 0.859em;
  z-index: 2;
  height: 0.07em;
  background-color: var(--pale-orange);
}

.plan_coffeeroasters_operation_semi {
  position: absolute;
  bottom: 7.5px;
  z-index: 2;
  width: 0.435em;
  height: 0.07em;
  background-color: var(--pale-orange);
  left: 8px;
}

.plan_coffeeroasters_operation_semi_right{
  position: absolute;
  bottom: 7.5px;
  background-color: var(--pale-orange);
  width: 0.435em;
  height: 0.07em;
}


/* -------- COFFEE SELECTION ---------- */

.coffee_selection{
  width: 67em;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.coffee_selection_type{
  font-family: var(--font-fraunces), serif;
  font-size: var(--title-h4);
}

.coffee_selection_type h4{
  margin-bottom: 1em;
}


.coffee_selection_options{
  display: flex;
  flex-direction: column;
  width: 38em;
}

.coffee_selection_questions{
  margin-bottom: 2em;
}


.coffee_type_options{
  padding: 1.5em;
  width: 12em;
  background-color: var(--option-default);
  border-radius: 0.4em;
  cursor: pointer;
  color: var(--dark-grey-blue);
}

.coffee_type_options:hover{
  background-color: var(--pale-orange);
  transition: 0.1s;
} 

.head{
  font-family: var(--font-fraunces);
  margin-bottom: 0.5em;
  font-size: 1.2em;
  font-weight: bold;
}

.description{
  line-height: 1.4;
}

.type{
  margin-top: 0.7em;
  cursor: pointer;
  color: var(--grey);
}

.question{
  margin-bottom: 1em;
  font-family: var(--font-fraunces), serif;
  font-size: var(--title-h3);
  cursor: pointer;
  color: var(--grey);
}
.coffee_type{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.option_color{
  color: var(--dark-grey-blue);
}

.disable_grind{
  color: var(--button-disabled);
  pointer-events: none;
}


.disable_button{
  background-color: var(--button-disabled);
  color: var(--light-cream);
  pointer-events: none;
  border: var(--button-disabled);
}


/*---------------Accordion ------------------*/

.accordion{
  position: relative;
}


.question::after{
  content: url(assets/plan/desktop/icon-arrow.svg);
  position: absolute;
  right: 0.011em;
  bottom: 0.29em;
  transition: 0.8s;
} 

.accordion_data{
  display: none;
  overflow: hidden;
  transition: 0.4s;
}


.accordion.active .question::after {
  content: url(assets/plan/desktop/icon-arrow-up.svg);
  transition: 0.8s;
} 

.active_color {
  background-color: var(--dark-cyan);
  transition: 0.4s;
  color: var(--light-cream);
  
}

.inactive_color{
  color: var(--grey);
}

/* ----------- ORDER SUMMARY ---------*/

.order_summary{
  height: 13em;
  margin-top: 1em;
  background-color: var(--middle-bg-color);
  border-radius: 0.4em;
  position: relative;
}

.order_summary_div {
  padding: 2em;
}

.order_summary_text {
  color: var(--light-cream);
  font-family: var(--font-barlow), 'sans-serif';
  font-size: 13px;
  margin-bottom: 2em;
}

.order_summary_info{
  font-family: var(--font-fraunces), 'serif';
  color: var(--light-cream);
}

.answer {
  color: var(--dark-cyan);
  font-family: var(--font-fraunces);
}

.order_text{
  line-height: 2;
}

.plan_create{
  margin-top: 4em;
  right: 14em;
  position: absolute;
  cursor: pointer;
}


.create_plan_plan{
  margin-bottom: 12em;
}


/* ----------- MODAL CONTENT ---------*/

/* height: 50em;
width: 33em; */
.modal_content{
  background-color: var(--light-cream);
  margin: auto;

  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal_div{
  background-color: #fefefe;

  border-radius: 0.4em;
  margin: auto;
  border: 1px solid #888;
  width: 50%;
  height: 34em;
}


.modal_heading{
  border-radius: 0.2em;
  font-size: var(--title-h3);
  background-color: var(--middle-bg-color);
  font-family: var(--font-fraunces), serif;
  color: var(--light-cream);
  padding-left: 2em;
  padding-top: 0.8em;
  height: 3em;
}

.modal_order_summary{
  line-height: 2;
  font-family: var(--font-fraunces), serif;
  padding-left: 2.5em;
  padding-top: 1em;
  color: var(--grey);
  font-size: var(--title-h4);
  margin-top: 2em;
}

.modal_correct_order{
  padding-left: 3.5em;
  padding-top: 1em;
  margin-top: 1.5em;
  line-height: 1.5;
}

.modal_correct_order{
  font-family: var(--font-barlow);
}

.checkout{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 1.3em;
  margin-top: 2em;
}

.checkout h3{
  font-size: var(--title-h3);
  font-family: var(--font-fraunces), 'serif';
}

.mobile_checkout{
  display: none;
}

.mobi{
  display: none;
}

@media (min-width: 768px) and (max-width: 1024px){
  body {
      margin: 0 60px;
      width: 55em;
  }

  .hero_img{
    border-radius: 0.5em;
  }

  /*------------- INDEX PAGE -------------- */

  .collection_section{
    margin: 6em 0;
  }

  .collection_type_coffee_text{
    width: 10em;
  }

  .selection_reason_text{
    width: 100%;
  }

  .selection_qualities{
    top: 25em;
  }

  .selection_qualities_feature{
    width: 15em;
    height: 27em;
  }

  .selection_qualities_feature_text p {
    width: 10em;
  } 

  .coffeeroasters_operation_process_type p{
    width: 15em;
  } 

  /*------------- ABOUT PAGE -------------- */

  .about_hero_img{
    height: 26em;
    border-radius: 0.5em;
  }

  .coffeeroasters_commitment_img{
    margin-right: 2em;
  }

  .coffeeroasters_commitment{
    justify-content: flex-start;
    width: 100%;
  }

  .about_coffee_op{
    width: 100%;
  }

  .coffeeroasters_commitment_text p {
    width: 25em;
  }

  .coffeeroasters_quality{
    width: 100%;
  }

  .coffeeroasters_quality_text h2{
    width: 10em;
  }

  .coffeeroasters_quality_text p{
    width: 25em;
  }

  .coffeeroasters_quality_img{
    right: 1em;
    height: 17em;
    width: 25em;
  }

  /*-------------- PLAN PAGE -------------------*/

  .plan_coffeeroasters_operation{
    width: 100%;
  }

  .coffeeroasters_operation{
    width: 100%;
  }

  .coffee_selection{
    justify-content: flex-start;
    width: 100%;
  }

  .coffee_selection_type{
    margin-right: 4em;
  }
  
  .coffee_selection_options{
    margin-top: 1.3em;

  }

  .plan_create{
    right: 8em;
  }

  .plan_hero_img{
    height: 26em;
    border-radius: 0.5em;
  }

  .plan_coffeeroasters_operation_process{
    width: 100%;
  }

  .plan_coffeeroasters_operation{
    padding: 2em;
  }

  .plan_coffeeroasters_operation_process_type{
    margin-right: 1.5em;
  }

  .plan_coffeeroasters_operation_process_type h2{
    font-size: 1.5em;
  }
  
  .plan_coffeeroasters_operation_process_type h3{
    width: 7em;
    font-size: 1em;
  }
  
  .plan_coffeeroasters_operation_process_type p{
    width: 15em;
  }

  /* ------------ MODAL -------------*/
  .modal_div{
    width: 50em;
    margin: 0 auto;
  }

  .modal_order_summary{
    padding-left: 1em;
    padding-right: 0.7em;
  }

  .modal_correct_order{
    padding-left: 1em;
    padding-right: 1em;
  }

}


@media (min-width: 481px) and (max-width: 767px) {
  body {
    /* background-color: yellow; */
    width: 35em;
    margin: 0 72px;
  }

  /* -------- HERO SECTION ---------- */

  .header_img{
    width: 8em;
  }

  .tablet_menu{
    font-size: 0.8em;
  }

  .hero_img{
    background-image: url(assets/home/tablet/image-hero-coffeepress.jpg);
    height: 28em;
    background-size: cover;
    border-radius: 0.5em;
    }

  .hero_title{
    left: 3em;
    top: 5em;
  }

  .hero_title h1{
    font-size: var(--title-h4);
  }

  .hero_title p {
    width: 24em;
  }

  /* -------- COLLECTION SECTION ---------- */

  .collection_section{
    margin: 5em auto;
    width: 100%;
  }

  .collection_text p{
    font-size: 5.8em;
  }

  .collection_type{
    top: 4em;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }

  .collection_type_coffee{
    display: flex;
    align-items: flex-start;
    margin-left: 5em;
  }

  .collection_type_coffee_text{
    margin-top: 10px;
    text-align: left;
  }

  .collection_type_coffee_text h4{
    margin-bottom: 20px;
  }

  /* -------- COFFEEROASTERS SECLECTION SECTION ---------- */
  .selection_reasons{
    margin-top: 22em;
  }
  .selection_reason_text{
    width: 100%;
    position: relative;
  }

  .selection_reason_text p{
    width: 25em;
  }

  .selection_qualities{
    flex-direction: column;
    position: absolute;
    top: 50em;
    left: 3em;
    margin: 0 auto;
  }

  .selection_qualities_feature{
    width: 30em;
    height: 23em;
    margin-bottom: 3em;
    display: flex;
    padding: 3em 5em;
    align-items: center;
    justify-content: center;
  }

  .selection_qualities_feature img {
    margin-top: 0;
    margin-right: 2em;
  }

  .selection_qualities_feature_text h3{
    margin: 0;
  }

  .selection_qualities_feature_text{
    text-align: left;
  }

  /* -------- COFFEEROASTERS OPERATION SECTION ---------- */

  .coffeeroasters_operation{
    width: 100%;
  }

  .coffeeroasters_operation_oval{
    height: 1em;
    width: 1em;
  }
  
  .coffeeroasters_operation_line{
    width: 11.7em;
  }

  .coffeeroasters_operation_process{
    width: 100%;
  }

  .coffeeroasters_operation_process_type{
    margin-right: 0.4em;
  }

  .coffeeroasters_operation_process_type p{
    width: 12em;
  }

  .coffeeroasters_operation_process_type h3{
    font-size: 1.5em;
  }

  /*----------- FOOTER SECTION --------------*/

  footer{
    margin-bottom: 10em;
    margin-top: 10em;
  }
  
  .footer_section{
    height: 15em;
    display: flex;
    flex-direction: column;
  }

  .footer_page_links{
    margin-top: 2em;
  }
  
  .footer_page_links{
    width: 20em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .footer_pages{
    margin-top: 2em;
  }

  /* -------- ABOUT SECTION ---------- */
  .hero_title h2{
    font-size: var(--title-h4);
  }

  .about_hero_img{
    height: 18em;
    border-radius: 0.5em;
  }

  .other_hero_section{
    height: 15em;
    border-radius: 0.5em;
  }

  .other_hero_title{
    font-size: 1em;
  }

  .coffeeroasters_commitment{
    justify-content: flex-start;
    margin-bottom: 10em;
    width: 100%;
  }

  .coffeeroasters_commitment_img{
    background-image: url(assets/about/tablet/image-commitment.jpg);
    background-size: cover;
    height: 35em;
    width: 55%;
    border-radius: 0.5em;
    margin-right: 1.5em;
  }

  .coffeeroasters_commitment_text {
    padding-top: 10px;
  }

  .coffeeroasters_commitment_text h2{
    font-size: 1.7em;
    margin-bottom: 1em;
  }

  .coffeeroasters_commitment_text p{
    width: 17em;
  }

  .coffeeroasters_quality{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1em;
  }

  .coffeeroasters_quality_text{
    height: 30em;
    padding: 0;
  }

  .coffeeroasters_quality_text h2{
    font-size: 1.5em;
    width: 70%;
    text-align: center;
    margin: 6em auto 1em auto;
  }

  .coffeeroasters_quality_text p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }


  .coffeeroasters_quality_img{
    background-image: url(assets/about/tablet/image-quality.jpg);
    background-size: cover;
    width: 70%;
    margin: 0 auto;
    height: 15em;
    right: 0;
    left: 0;
    top: -3em;
    border-radius: 0.5em;
  }

  .coffee_type_options{
    margin-right: 0.5em;
  }

 .ind_coffee_op{
    margin-top: 33em;
  }

  .location{
    margin-right: 1em;
  }


  /*-------------- PLAN SECTION --------------*/

  .coffee_selection{
    width: 100%;
  }
  
  .plan_hero_img{
    background-image: url(assets/plan/tablet/image-hero-blackcup.jpg);
    height: 20em;
    background-size: cover;
    border-radius: 0.5em ;
  }

  .plan_coffeeroasters_operation_line{
    width: 12em;
  }

  .plan_coffeeroasters_operation{
    width: 100%;
    padding: 0.8em;
    margin-top: 14.5em;
    overflow: visible;
  }

  .plan_coffeeroasters_operation_process{
    width: 100%;
  }
  
  .plan_coffeeroasters_operation_process_type h2{
    font-size: 1.5em;
  }

  .plan_coffeeroasters_operation_process_type h3{
    font-size: 1.2em;
  }

  .plan_coffeeroasters_operation_process_type p{
    font-size: 1em;
    width: 10em;
  }

  .coffee_selection_type{
    display: none;
  }

  .modal_div{
    width: 38em;
    margin: 0 auto;
  }

  .modal_order_summary{
    padding-left: 1em;
    padding-right: 0.7em;
  }

  .modal_correct_order{
    padding-left: 1em;
    padding-right: 1em;
    width: 35em;
  }
}



@media (max-width: 480px) {
  body {
      width: 19em;
      margin: 0 auto;
  }

  .mobile_menu{
    display: none;
  }

  .mobi{
    height: 5em;
    width: 5em;
    background-color: red;
    display: block;
  }

  header{
    width: 100%;
  }

  /* ----------- INDEX PAGE -------------*/

  .header_img{
    width: 10em;
  }
  
  .hero_img{
    background-image: url(assets/home/mobile/image-hero-coffeepress.jpg);
    height: 28em;
    background-size: cover;
    border-radius: 0.5em;
    }

  .hero_title{
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    height: 25em;
  }
  
  .hero_title h1{
    font-size: var(--title-h3);
  }

  .hero_title p{
    width: 18em;
    font-size: 1.5em;
    text-align: center;
  }

  .button{
    height: 5em;
    font-size: 1.5em;
  }

  .collection_section{
    width: 100%;
    margin: 0;
    margin-top: 6em;
  }

  .collection_text{
    height: 5em;
  }

  .collection_text p {
    font-size: 2.8em;
  }

  .collection_type{
    flex-direction: column;
  }

  .collection_type_coffee_text{
    margin-bottom: 2em;
    margin-top: 1em;
  }

  .selection_reasons{
    margin-top: 55em;
  }
  
  .selection_reason_text{
    height: 65em;
    width: 100%;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
  }

  .selection_reason_text h3{
    font-size: 1.8em;
  }

  .selection_reason_text p{
    font-size: 1em;
    width: 18em;
  }

  .selection_qualities{
    width: 80%;
    display: flex;
    flex-direction: column;
    left: 0;
    right: 0;
    margin: -60em auto;
  }
  
  .selection_qualities_feature{
    width: 100%;
    margin-bottom: 2em;
    height: 25em;
  }

  .selection_qualities_feature_text p{
    width: 12em;
  }

  .coffeeroasters_operation{
    margin-top: 65em;
    width: 100%;
  }

  .coffeeroasters_operation h3{
    text-align: center;
  }

  .coffeeroasters_operation_division{
    display: none;
  }

  .coffeeroasters_operation_process{
    flex-direction: column;
    left: 0;
    right: 0;
    margin: 3em 0;
  }
  
  .coffeeroasters_operation_process_type{
    margin: 2em 0;
  }

  .coffeeroasters_operation_process_type h2{
    text-align: center;
  }

  .coffeeroasters_operation_process_type h3{
    font-size: 1.5em;
    width: 100%;
  }
  
  .coffeeroasters_operation_process_type p{
    width: 100%;
    text-align: center;
  }

  .home_button{
    height: 3.2em;
    width: 10em;
    font-size: 1em;
    margin: auto;
    text-decoration: none;
  }

  footer{
    margin-top: 40em;
    margin-bottom: 10em;
    width: 100%;
  }
  
  .footer_section{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    height: 19em;
  }

  .footer_img{
    width: 13em;
    margin-top: 3em;
    margin-bottom: 2em;
  }

  .footer_page_links{
    flex-direction: column;
    justify-content: center;
  }

  .footer_pages{
    margin-left: 0;
  }

  .footer_pages ul{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .footer_page_links ul li{
    margin-right: 0;
    margin-bottom: 2em;
  }

  .footer_social_links{

    margin-bottom: 3em;
  }

  /* ------------- ABOUT PAGE ---------------*/

  .about_hero_img{
    background-image: url(assets/about/mobile/image-hero-whitecup.jpg);
    height: 25em;
    background-size: cover;
    border-radius: 0.5em;
  }

    .hero_title h2{
      font-size: var(--title-h4);
      text-align: center;
    }

    .coffeeroasters_commitment_img img{
      width: 100%;
      background-size: cover;
      border-radius: 0.5em;
    }

    .coffeeroasters_commitment{
      margin: 3em auto;
      width: 100%;
      flex-direction: column;
    }

    .coffeeroasters_commitment_text {
      text-align: center;
      width: 100%;
    }

    .coffeeroasters_commitment_text h2{
      font-size: var(--title-h3);
    }

    .coffeeroasters_commitment_text p {
      width: 100%;
    }

    .coffeeroasters_quality{
      margin-top: 15em;
      width: 100%;
      flex-direction: column;
    }

    .coffeeroasters_quality_text{
      height: 37em;
      padding: 0;
    }

    .coffeeroasters_quality_text h2{
      font-size: var(--title-h4);
      width: 10em;
      text-align: center;
      margin: 5em auto 1em auto;
    }

    .coffeeroasters_quality_img{
      background-image: url(assets/about/mobile/image-quality.jpg);
      background-size: cover;
      left: 0;
      right: 0;
      margin: 0 auto;
      width: 70%;
      height: 10em;
      top: -7em;
      border-radius: 0.5em;
    }

    .coffeeroasters_quality_img img {
      width: 100%;
    }

    .coffeeroasters_quality_text p{
      width: 14em;
      margin: 0 auto;
      text-align: center;
    }


    .about_coffee_op{
      margin-top: 5em;
      width: 100%;
      
    }
    
    #coffee_op_pro{
      align-items: center;
      text-align: center;
    }

    #about_footer{
      margin-top: 50em;
    }

    /*------------ PLAN ------------*/

    .plan_hero_img{
      background-image: url(assets/plan/mobile/image-hero-blackcup.jpg);
    }

    .coffeeroasters_operation_division{
      display: none;
    }

    
    .plan_coffeeroasters_operation{
      padding: 0;
      width: 100%;
      margin: 0;
    }

    .plan_coffeeroasters_operation_process{
      flex-direction: column;
    }

    .plan_coffeeroasters_operation_process_type p{
      margin-right: 0;
      width: 100%;
    }

    .coffee_selection{
      margin-top: 5em;
      width: 100%;
    }

    .coffee_selection_type{
      display: none;
    }

    .coffee_selection_options{
      width: 60%;
    }

    .accordion{
      width: 166%;
    }

    .question{
      font-size: 1.2em;
      width: 60%;
    }

    .question::after{
      left: 14.5em;
      bottom: 0.8em;
    }

    .coffee_selection_questions{
      width: 100%;
    }

    .coffee_type{
      display: flex;
      flex-direction: column;
      overflow: visible;
    }
    
    .coffee_type_options{
      width: 166%;
      margin-bottom: 1em;
    }

    .order_summary{
      width: 166%;
      height: 18em;
    }

    .order_summary_info{
      font-size: 1.1em;
    }

    .create_plan_plan{
      margin-bottom: 2em;
    }

    .plan_create{
      right: 0;
      left: 0;
      height: 3.5em;
      font-size: 1em;
      margin: 5em auto;

    }

    .plan_footer{
      margin-top: 20em;
    }

    #modal_btn{
      height: 2em;
    }

    .modal_div{
      width: 80%;
      left: 0;
      height: 45em;
    }

    .modal_heading{
      font-size: 1.5em;
      padding-left: 1.2em;
    }

    .modal_order_summary{
      padding: 0.5em;
      padding-top: 0.5em;
      margin-top: 1em;
    }

    .modal_content{
      padding-top: 30px; 
    }

    .modal_correct_order{
      padding: 0.5em;
    }

    .full{
      display: none;
    }

    .mobile_checkout{
      display: block;
      
    }

    .mobile_button{
      right: 0;
      left: 0;
      height: 3.5em;
      font-size: 1em;
      margin: 1em auto;
    }

    .checkout h3{
      font-size: 1.3em;
    }

}




